
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

#app {
    nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
            }
        }
    }
}
